# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vscode/
.idea/
.DS_Store
# Build artifacts
**/build/
**/.dart_tool/

# Android
**/android/.gradle
**/android/local.properties
**/android/**/build/
**/android/**/*.iml

# iOS
**/ios/.symlinks/
**/ios/Flutter/.last_customize_inputs
**/ios/Runner/*.xcodeproj/project.xcworkspace/
**/ios/Runner/*.xcodeproj/xcshareddata/

# Specific app build directories
apps/student_app/build/
apps/seller_app/build/
